# Ignore node_modules, as they are installed within the container
node_modules

# Ignore local development environment files
.env
.env*.local

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
dist
.DS_Store 