# .npmrc

# Re-enabled hoist patterns to keep RN packages local to nativeapp
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@react-native-community/*
public-hoist-pattern[]=@react-native/*

# Add other settings if needed
