# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore local environment files
.env

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore git
.git
.gitignore

# Ignore logs
npm-debug.log 